body{
  background-color: #bbdec6;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}


h1{
    text-align: center;
    color: #010300;
    font-size: 3rem;
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

form label{
    font-size: 1.5rem;
    font-weight: 600;
}

form textarea{
    background-color: #f7f8fc;
}

form input{
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 35%;
}

form input:hover{
    transition: .3s;
    background-color: #010300;
    color: #bbdec6;
}

p{
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
}

.recordatorios{
    width: 50%;
    border: 1px solid #010300;
}

.recordatorios h2{
    text-align: center;
}

li{
    color: black;
    margin: .3rem;
    list-style-type: none;;
    font-weight: 800;
}
.borrar{
    float: right;
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-weight: 800;
}

@media (max-width: 1200px){
    body{
        background-color: #f7f8fc;
    }
    h1{
        color: #314c53 ;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    form{
        width: 90%;
    }

    .recordatorios{
        width: 90%;
        margin-top: 2rem;
        background-color: #bbdec6;
    }
}